/*!
 * Weatherer 1.0 CSS
 * https://github.com/Ser-Gen/weatherer
 * Эксперимент с геопозиционированием и фоновой подгрузкой данных
 * MIT licensed
 *
 * Создан Сергеем Васильевым (@Ser_Gen)
 */

/*
 *  TABLE OF CONTENTS
-------------------------------------------------------------*/
/*

    LAYOUT
      LAYOUT — OVERLAY
      LAYOUT — WEATHER
      LAYOUT — ADDRESS

-------------------------------------------------------------*/



/* LAYOUT
-------------------------------------------------------------*/

.WeatherNow {
  -webkit-transition: margin-top .3s ease-in-out,
                      opacity .4s ease-in;
          transition: margin-top .3s ease-in-out,
                      opacity .4s ease-in;
}
.WeatherNow.showForecastHours {
  margin-top: -26.6667em;
}
.WeatherNow.showForecastDaily {
  margin-top: -53.3334em;
}


.WeatherForecast {
  max-height: 26.6667em;
  overflow: hidden;
  text-align: center;
}
.WeatherForecast .Weather {
  display: inline-block;
  font-size: .7826em;
  margin: 5em 4em;
}
.WeatherForecast .WeatherIcon {
  margin-top: .5em;
}
.WeatherForecast .WeatherDate {
  color: rgba(255,255,255,.5);
  font-size: 2em;
  margin-top: 1em;
}



/* LAYOUT — OVERLAY
-------------------------------------------------------------*/

.OverlayGradient {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity .5s ease-in;
          transition: opacity .5s ease-in;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}
.dataLoaded .OverlayGradient {
  opacity: 1;
}
.cityIsChanging .OverlayGradient {
  opacity: 0;
}
.OverlayGradient.helper {
  opacity: 1;
}
.OverlayGradient.day {
  background-color: #7da7d6;
  background-image: -webkit-linear-gradient(#4577d0, #acd0dc);
          background-image: linear-gradient(#4577d0, #acd0dc);
}
.OverlayGradient.border {
  background-image: -webkit-linear-gradient(#529ac8 10%, #79abcb 45%, #d3a863 85%, #da814b);
          background-image: linear-gradient(#529ac8 10%, #79abcb 45%, #d3a863 85%, #da814b);
}
.OverlayGradient.night {
  background-color: #081935;
  background-image: -webkit-linear-gradient(#051023, #0b1f42);
          background-image: linear-gradient(#051023, #0b1f42);
}
.OverlayGradient.twilight {
  background-image: -webkit-linear-gradient(#1d2537, #405979 50%, #a19ea4 80%, #f18739);
          background-image: linear-gradient(#1d2537, #405979 50%, #a19ea4 80%, #f18739);
}
.OverlayGradient.nauticalTwilight {
  background-image: -webkit-linear-gradient(#10254a, #264885);
          background-image: linear-gradient(#10254a, #264885);
}



/* LAYOUT — WEATHER
-------------------------------------------------------------*/

.Weather {
  cursor: default;
  margin: 3em auto;
  opacity: 1;
}
.cityIsChanging .Weather {
  opacity: 0;
}
.WeatherTemp {
  font-size: 5em;
  text-align: center;
}


/*
<span class="WeatherIcon">
    <span class="helper"></span>
</span>
*/

.WeatherIcon,
.WeatherIcon:before,
.helper:before,
.helper:after {
  font-family: 'iconvault';
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.WeatherIcon:before,
.helper:before,
.helper:after {
  font-size: 14em;
}
.helper:before,
.helper:after {
  position: absolute;
  top: 0;
  left: 0;
}
.WeatherIcon {
  height: 12em;
  margin: 5em auto 1em;
  position: relative;
  width: 14em;
}

/* облака */
.WeatherIcon:before {
  color: rgba(255,255,255,.75);
  content: "\f106";
  text-shadow: 0 1px 0 rgba(204,204,204,.01);
}
/* светило */
.helper:before {
  text-shadow: 0 1px 0 rgba(255,165,0,.01);
}
.day .helper:before {
  color: rgba(255,227,115,.85);
}
.night .helper:before {
  color: rgba(255,246,144,.85);
}
/* дождь */
.helper:after {
  color: rgba(94,148,204,.85);
  text-shadow: 0 1px 0 rgba(130,178,228,.01);
}


/* Ясно */
.s800:before {
  content: "";
}
.day .s800 .helper:before {
  content: "\f113";
}
.night .s800 .helper:before {
  content: "\f10d";
}

 /* Переменная облачность */
.s801:before,
.s802:before,
.s803:before {
  content: "\f106";
}
.s801 .helper:before,
.s802 .helper:before,
.s803 .helper:before {
  left: 0.02em;
  top: -.04em;
}
.day .s801 .helper:before,
.day .s802 .helper:before,
.day .s803 .helper:before {
  content: "\f101";
}
.night .s801 .helper:before,
.night .s802 .helper:before,
.night .s803 .helper:before {
  content: "\f100";
}

 /* Облачность */
.s804:before {
  content: "\f106";
}

/* Небольшой дождь */
.s500:before,
.s501:before {
  content: "\f105";
}
.day .s500 .helper:before,
.day .s501 .helper:before {
  content: "\f101";
}
.night .s500 .helper:before,
.night .s501 .helper:before {
  content: "\f100";
}
.s500 .helper:after,
.s501 .helper:after {
  content: "\f107";
}

/* Дождь */
.s502:before,
.s503:before,
.s504:before {
  content: "\f105";
}
.s502 .helper:after,
.s503 .helper:after,
.s504 .helper:after {
  color: rgba(70,129,195,.75);
  content: "\f107";
}

/* Ливень */
.s520:before,
.s521:before,
.s522:before {
  content: "\f105";
}
.s520 .helper:after,
.s521 .helper:after,
.s522 .helper:after {
  content: "\f104";
}

/* Гроза небольшая */
.s210:before {
  color: #000;
  content: "\f105";
}
.day .s210 .helper:before {
  content: "\f101";
}
.night .s210 .helper:before {
  content: "\f100";
}
.s210 .helper:after {
  color: rgb(255,165,0);
  content: "\f114";
}


/* Гроза */
.s200:before, /* Гроза с небольшим дождём */
.s201:before, /* Гроза с дождём */
.s202:before, /* Гроза с ливнем */
.s211:before, /* Гроза */
.s212:before, /* Гроза мощная */
.s221:before, /* Гроза разрозненная */
.s230:before, /* Гроза с небольшими осадками */
.s231:before, /* Гроза с осадками */
.s232:before { /* Гроза с серьёзными осадками */
  color: #000;
  content: "\f105";
}
.s200 .helper:after, /* Гроза с небольшим дождём */
.s201 .helper:after, /* Гроза с дождём */
.s202 .helper:after, /* Гроза с ливнем */
.s211 .helper:after, /* Гроза */
.s212 .helper:after, /* Гроза мощная */
.s221 .helper:after, /* Гроза разрозненная */
.s230 .helper:after, /* Гроза с небольшими осадками */
.s231 .helper:after, /* Гроза с осадками */
.s232 .helper:after { /* Гроза с серьёзными осадками */
  color: rgb(255,165,0);
  content: "\f114";
}

 /* Небольшой снег */
.s600:before {
  content: "\f105";
}
.day .s210 .helper:before {
  content: "\f101";
}
.night .s210 .helper:before {
  content: "\f100";
}
.s600 .helper:after {
  color: #acd3f3;
  content: "\f10b";
}

/* Снег */
.s601:before, /* Снег */
.s602:before, /* Сильный снег */
.s611:before, /* Мокрый снег */
.s621:before { /* Снег ливневый (?) */
  content: "\f105";
}
.s601 .helper:before, /* Снег */
.s602 .helper:before, /* Сильный снег */
.s611 .helper:before, /* Мокрый снег */
.s621 .helper:before { /* Снег ливневый (?) */
  content: "\f10b";
}

.s701:before, /* Туман */
.s711:before, /* Дымка */
.s721:before, /* Дымка густая */
.s731:before, /* Песчаные и пыльные вихри */
.s741:before { /* Густой туман */
  content: "\f108";
}



/* LAYOUT — ADDRESS
-------------------------------------------------------------*/

.Address {
  bottom: 0;
  left: 0;
  padding: 2em;
  right: 0;
  position: absolute;
  
  /*
   * выносим этот блок в отдельный слой, параллельно решая несколько задач:
   * проблема в Хроме: при динамическом изменении значения `opacity` элемента `#OverlayGradientMain` происходил скачок `.AddressInput`
   * дополнительно улучшается качество отрисовки `.AddressDetectorIcon`
   */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.AddressDetector,
.AddressInput {
  background-color: transparent;
  border: none;
  color: rgba(255,255,255,.6);
  cursor: pointer;
  font-family: inherit;
  font-size: .9em;
}
.AddressDetector:hover,
.AddressInput:hover {
  color: rgba(255,255,255,.8);
}

.AddressInput {
  display: block;
  float: right;
  text-align: right;
  width: 15em;
}
.AddressInput:focus {
  color: rgba(255,255,255,1);
  cursor: text;
  outline: none;
}
.AddressInput[disabled] {
  -webkit-animation: addressIsLoading linear .75s infinite;
       -o-animation: addressIsLoading linear .75s infinite;
          animation: addressIsLoading linear .75s infinite;
}
@-webkit-keyframes addressIsLoading {
  from { color: rgba(255,255,255,.9); }
   50% { color: rgba(255,255,255,.2); }
    to { color: rgba(255,255,255,.9); }
}
@-o-keyframes addressIsLoading {
  from { color: rgba(255,255,255,.9); }
   50% { color: rgba(255,255,255,.2); }
    to { color: rgba(255,255,255,.9); }
}
@keyframes addressIsLoading {
  from { color: rgba(255,255,255,.9); }
   50% { color: rgba(255,255,255,.2); }
    to { color: rgba(255,255,255,.9); }
}

.AddressDetector {
  float: left;
  opacity: 0;
  position: relative;
  -webkit-transition: opacity .3s ease-in-out;
          transition: opacity .3s ease-in-out;
}
.AddressDetector.isAlertnated {
  display: block;
  opacity: 1;
  overflow: visible;
}
.AddressDetectorText {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition:
            opacity .3s ease-in-out .1s,
            left .3s ease-in-out .1s;
          transition:
            opacity .3s ease-in-out .1s,
            left .3s ease-in-out .1s;
  width: 4.5em;
}
.AddressDetector:hover .AddressDetectorText {
  left: 100%;
  opacity: 1;
}
.AddressDetectorIcon {
  border: 2px solid rgba(255,255,255,.6);
  border-radius: 50%;
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  -webkit-transition: -webkit-transform .4s ease-in-out;
          transition: transform .4s ease-in-out;
}
.AddressDetector:hover .AddressDetectorIcon {
  -webkit-transform: rotate(-145deg);
          transform: rotate(-145deg);
}
.AddressDetectorIcon:before,
.AddressDetectorIcon:after {
  border-left: 2px solid rgba(255,255,255,.6);
  content: '';
  display: block;
  height: 160%;
  left: 50%;
  position: absolute;
  top: -30%;
  
  /* Яндекс.Браузеру под эту вращающуюся пиктограмму также нужен отдельный слой */
  -webkit-transform: translateX(-50%) translateZ(0);
          transform: translateX(-50%);
}
.AddressDetectorIcon:after {
  -webkit-transform: translateX(-50%) rotate(90deg) translateZ(0);
          transform: translateX(-50%) rotate(90deg);
}
.AddressDetector:hover .AddressDetectorIcon,
.AddressDetector:hover .AddressDetectorIcon:before,
.AddressDetector:hover .AddressDetectorIcon:after {
  border-color: rgba(255,255,255,.9);
}
