<!doctype html>
<html lang="ru">

<head>
  {% include head.html %}
  <link rel="stylesheet" href="//ser-gen.github.io/source/js/hl/github.css">
</head>

<body class="Page">
<div class="Page__content">
  {{ content }}
</div>

<script src="//yandex.st/jquery/1.8.3/jquery.min.js"></script>
<script src="//ser-gen.github.io/source/js/jquery.troller.min.js"></script>
<script src="//ser-gen.github.io/source/js/hl/highlight.js"></script>
<script>

Troller.create();

$('pre code').each(function () {
  $(this).html($(this).html().replace(/^\s*/g,'').replace(/</g, '&lt;').replace(/>/g, '&gt;'));
});

hljs.initHighlightingOnLoad();
</script>
</body>

</html>